$bg-color: #ffffff
$text-color: #080808

body
    background-color: $bg-color
    font-family: "Roboto", sans-serif
    color: $text-color
    display: flex

main
    margin: auto

h1
    margin: 0px

a
    color: $text-color

ul
    padding: 0px
    margin: 0px

li
    list-style-type: none

.categories-container
    display: flex
    justify-content: space-between

.category
    padding: 0px 20px
    max-width: 100px

#form-search
    width: auto
    display: block

#form-search
    width: auto
    display: block
    box-sizing: border-box
